# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=pancake-system

# Make this the same as your github username/organisation
REPO_ORGANIZATION="Jeffser"

IMAGE_DESC="My Customized Bootc Image"
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
# Placeholder image I will change later for my own logo
IMAGE_LOGO_URL="https://images.emojiterra.com/google/android-12l/512px/1f95e.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
